@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction:column;
    height:100dvh;
    font-family:"Racing Sans One", sans-serif;
}
main{
    display:flex;
    flex-direction:row;
    flex-grow:1;
    overflow-y:auto;
}
.info1{
    width:300px;
    padding:20px;
}
.info2{
    width:400px;
    padding:20px;
}
.info3{
    width:400px;
    padding:20px;
}
.image{
    --background-image: url(shield.jpg);
    --background-size: cover;
    background:pink;

}
header{
    background: grey;
    height: 60px;
    padding:15px;
    display:flex;
    align-items:center;
    font-family:"Racing Sans One", sans-serif;
}
nav{
    background: lightgrey;
    height:40px;
    align-items:center;
    display:flex;
    padding:15px;
    gap:10px;
}
nav a{
    color:rgb(0, 0, 0);
    text-decoration:none;
}
nav a:hover{
    color:rgb(71, 71, 71);
}
footer{
    background:grey;
    height: 40px;
    display:flex;
    align-items:center;
    justify-content:center;
}